name: CI

on:
  pull_request:
  merge_group:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ok-nick/setup-aftman@v0.4.2
      - name: Install tools
        run: aftman install
      - name: Format check
        run: stylua --check .
      - name: Lint
        run: selene src
